<div style="height: 50px"></div>

<div class="container">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <div>
                    <mat-icon style="margin-bottom: -5px;">local_hospital</mat-icon>
                    {{ allSensors[0].manufacturer }} - {{ allSensors[0].sensorName }}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <ng-content>
                <hr style="width: 100%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[0].nodeName }} - {{ allSensorNodes[0].sensorCode }} | {{ allSensorNodes[0].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[0].firstName }} {{ allPatients[0].lastName }} | {{ allPatients[0].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[5].nodeName }} - {{ allSensorNodes[5].sensorCode }} | {{ allSensorNodes[5].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[5].firstName }} {{ allPatients[5].lastName }} | {{ allPatients[5].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
            </ng-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <div>
                    <mat-icon style="margin-bottom: -5px;">local_hospital</mat-icon>
                    {{ allSensors[1].manufacturer }} - {{ allSensors[1].sensorName }}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <ng-content>
                <hr style="width: 100%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[1].nodeName }} - {{ allSensorNodes[1].sensorCode }} | {{ allSensorNodes[1].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[1].firstName }} {{ allPatients[1].lastName }} | {{ allPatients[1].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[6].nodeName }} - {{ allSensorNodes[6].sensorCode }} | {{ allSensorNodes[6].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[6].firstName }} {{ allPatients[6].lastName }} | {{ allPatients[6].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
            </ng-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <div>
                    <mat-icon style="margin-bottom: -5px;">local_hospital</mat-icon>
                    {{ allSensors[2].manufacturer }} - {{ allSensors[2].sensorName }}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <ng-content>
                <hr style="width: 100%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[2].nodeName }} - {{ allSensorNodes[2].sensorCode }} | {{ allSensorNodes[2].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[2].firstName }} {{ allPatients[2].lastName }} | {{ allPatients[2].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[7].nodeName }} - {{ allSensorNodes[7].sensorCode }} | {{ allSensorNodes[7].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[7].firstName }} {{ allPatients[7].lastName }} | {{ allPatients[7].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
            </ng-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <div>
                    <mat-icon style="margin-bottom: -5px;">local_hospital</mat-icon>
                    {{ allSensors[3].manufacturer }} - {{ allSensors[3].sensorName }}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <ng-content>
                <hr style="width: 100%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[3].nodeName }} - {{ allSensorNodes[3].sensorCode }} | {{ allSensorNodes[3].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[3].firstName }} {{ allPatients[3].lastName }} | {{ allPatients[3].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[8].nodeName }} - {{ allSensorNodes[8].sensorCode }} | {{ allSensorNodes[8].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[8].firstName }} {{ allPatients[8].lastName }} | {{ allPatients[8].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
            </ng-content>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>
                <div>
                    <mat-icon style="margin-bottom: -5px;">local_hospital</mat-icon>
                    {{ allSensors[4].manufacturer }} - {{ allSensors[4].sensorName }}
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <ng-content>
                <hr style="width: 100%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[4].nodeName }} - {{ allSensorNodes[4].sensorCode }} | {{ allSensorNodes[4].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[4].firstName }} {{ allPatients[4].lastName }} | {{ allPatients[4].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
                <div>
                    <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
                    {{ allSensorNodes[9].nodeName }} - {{ allSensorNodes[9].sensorCode }} | {{ allSensorNodes[9].batteryPercentage }}%
                </div>
                <div>
                    <mat-icon style="margin-bottom: -5px;">person</mat-icon>
                    {{ allPatients[9].firstName }} {{ allPatients[9].lastName }} | {{ allPatients[9].address }}
                </div>
                <hr style="width: 85%; color: #ebebeb">
            </ng-content>
        </mat-card-content>
    </mat-card>
</div>

<div style="height: 50px"></div>

<div style="display:flex;"> 
    <div style="width: 50%;">
        <mat-card class="chart-card">
            <mat-card-title style="margin-top:5px; margin-left:10px"> Number of nodes for each sensor </mat-card-title>
            <mat-card-content class="chart-card-content">
            <ng-content>
                <div style="width: 100%; height: 367px"> 
                    <app-pie-chart
                        [labels]="sensorNames"
                        [data]="sensorNodeCounts"
                        [backgroundColors]="[
                        'rgb(255, 99, 132)',
                        'rgb(75, 192, 192)',
                        'rgb(255, 205, 86)',
                        'rgb(201, 203, 207)',
                        'rgb(54, 162, 235)'
                        ]"
                  ></app-pie-chart>
                </div>
            </ng-content>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="width: 50%;">
    <mat-card class="chart-card" >
        <mat-card-content class="chart-card">
        <mat-card-title> Number of measurements for each sensor node </mat-card-title>
        <ng-content>
            <div style="width: 100%; height: 30%;"> 
                <app-polar-chart
                    [labels]="sensorNodes"
                    [data]="sensorNodeDataCount"
                    [backgroundColors]="[
                    'rgb(255, 99, 132)',
                    'rgb(75, 192, 192)',
                    'rgb(255, 205, 86)',
                    'rgb(201, 203, 207)',
                    'rgb(54, 162, 235)'
                    ]"
              ></app-polar-chart>
            </div>
        </ng-content>
        </mat-card-content>
    </mat-card>
   </div>
</div>

<div style="margin-top: 2%; margin-left: 1%">
    <mat-form-field appearance="fill">
    <mat-label>Select a sensor node</mat-label>
    <mat-select (selectionChange)="onSelectSensorNode($event.value)">
        <mat-option [value]=""> None </mat-option>
        <mat-option *ngFor="let option of sensors; let i = index" [value]="i">
            {{ option.sensorNode.nodeName }}
        </mat-option>
    </mat-select>
    </mat-form-field>
</div>

<div class="container" *ngIf="selectedSensor">
    <div class="card">
        <mat-icon style="margin-bottom: -5px;">person</mat-icon>
        <span> 
            
            {{ this.selectedSensor?.patient?.firstName }} 
            {{ this.selectedSensor?.patient?.lastName }},
            {{ this.selectedSensor?.patient?.address }},
            {{ this.selectedSensor?.patient?.gender == "F" ? "Female" : "Male" }}
        </span>
    </div>

    <div class="card">
        <mat-icon style="margin-bottom: -5px;">local_hospital</mat-icon>
        <span> 
            {{ this.selectedSensor?.sensor?.manufacturer }}
            {{ this.selectedSensor?.sensor?.sensorName }}
            {{ this.selectedSensor?.sensor?.sensorCode }}
        </span>
    </div>

    <div class="card">
        <mat-icon style="margin-bottom: -5px;">important_devices</mat-icon>
        <span> 
            {{ this.selectedSensor?.sensorNode?.hospitalName }}
            {{ this.selectedSensor?.sensorNode?.nodeName }}
            {{ this.selectedSensor?.sensorNode?.sensorCode }} |
            {{ this.selectedSensor?.sensorNode?.batteryPercentage }}%
        </span>
    </div>
  </div>

<div style="height: 5%"></div>

<div *ngIf="selectedSensor" style="display:flex"> 
    <div style="width: 50%">
        <mat-card class="chart-card">
            <mat-card-content class="chart-card">
            <mat-card-title style="margin-top:5px; margin-left:10px"> Pulse rate over time </mat-card-title>
            <ng-content>
                <div style="width: 100%; height: 30%;"> 
                    <app-line-chart
                        [labels]="labels"
                        [firstLine]="avgPulseRate"
                        [chartId]="'myChart2'"
                        [color]="'red'"
                        [lineLabel]="'Pulse Rate'">
                    </app-line-chart>
                </div>
            </ng-content>
            </mat-card-content>
            <mat-card-footer style="padding: 20px;">
                <button (click)="getAISuggestionForPulseRates()" 
                style="background-color: #04AA6D;
                    border: none;
                    color: white;
                    padding: 5px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;"> 
                    Get AI Suggestion about pulse rates 
                </button>
                <div *ngIf="pulseAIResponse">
                    <p>{{ pulseAIResponse }}</p>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
    <div style="width: 50%">
    <mat-card class="chart-card" >
        <mat-card-content class="chart-card">
        <mat-card-title style="margin-top:5px; margin-left:10px"> Body temperature over time </mat-card-title>
        <ng-content>
            <div style="width: 100%; height: 30%;"> 
                <app-line-chart
                [labels]="labels"
                [chartId]="'myChart1'"
                [firstLine]="avgBodyTemp"
                [color]="'blue'"
                [lineLabel]="'Body Temperature'">
                </app-line-chart>
            </div>
        </ng-content>
        </mat-card-content>
        <mat-card-footer style="padding: 20px;">
            <button (click)="getAISuggestionForBodyTemp()" 
            style="background-color: #04AA6D;
                border: none;
                color: white;
                padding: 5px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;"> 
                Get AI Suggestion about body temperature
            </button>
            <div *ngIf="bodyTempAIResponse">
                <p>{{ bodyTempAIResponse }}</p>
            </div>
        </mat-card-footer>
    </mat-card>
   </div>
</div>

<div *ngIf="selectedSensor" style="margin-top: 2%;">
    <mat-card class="chart-card">
        <mat-card-content class="chart-card">
          <mat-card-title style="margin-top:5px; margin-left:10px">  Room statistics over time </mat-card-title>
          <ng-content>
            <div style="width:100%;height:30%;"> 
                <app-bar-chart
                    [labels]="roomLabels"
                    [first]="avgRoomHumidity"
                    [second]="avgRoomTemp"
                    [labelNames]="['Room Humidity', 'Room Temperature']">
                </app-bar-chart>
            </div>
          </ng-content>
        </mat-card-content>
      </mat-card>
</div>